{% extends "layout.html" %}
{% load blog_tags %}

{% block title %}
    {{post.title}}
{% endblock title %}

{% block content %}
    <h1> {{post.title}} </h1>
    <p class="date">
        Published {{ post.publish }} by {{ post.author }}  
    </p>
    {{ post.body|markdown }}
    <p>
        <a href="{% url 'post_share' post.id %}">Share this post</a>
    </p>
    
    <h2>similar posts</h2>
    {% for post in similar_posts %}
        <h3>
            <a href="{{ Post.get_absolute_url }}">
                {{ post.title }} - {{post.same_tags}} 
            </a>
        </h3>
    {% empty %}
        <p>there is no similar post</p>
    {% endfor %}

    <br>
    
    {% with comments.count as total_comments %}
        <h2>
            {{ total_comments }} comment{{ total_comments|pluralize }}
        </h2>
    {% endwith %}

    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                Comment {{ forloop.counter }} by {{ comment.name }} 
                {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
    {% empty %}
    <p>there is no comment</p>
    {% endfor %}
        {% include 'comment_form.html' %}
{% endblock content %}
